<h1><%= t ".app" %></h1>
<h3><%= t ".hello" %> <strong><%= @user.name %></strong></h4>
<p><%= t ".message" %></p>
<%= link_to t(".reset"), edit_reset_password_url(Settings.en.locale,
  @user.reset_password_token, email: @user.email) %>
