<% provide :page, @user.name %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="show-left">
        <div class="avatar">
          <%= image_tag @user.image.url %>
        </div>
        <h1 class="text-center"><strong><%= @user.name %></strong></h1>
        <hr>
        <h5><strong><%= t ".email" %></strong> <%= @user.email %></h5>
        <h5><strong><%= t ".gender" %></strong> <%= gender_for @user %></h5>
        <h5><strong><%= t ".phone" %></strong> <%= @user.phone %></h5>
        <h5><strong><%= t ".address" %></strong> <%= @user.address %></h5>
        <% if @user.admin? %>
          <%= link_to t(".manager"), admin_path, class: "btn btn-lg btn-warning btn-block" %>
        <% elsif @user.customer? %>
          <h5><strong><%= t ".customer" %></strong></h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: <%= @counts %>%">
              <%= @counts %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <br>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <%= link_to t(".control"), "#control", class: "nav-link active", "data-toggle": "tab" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".update"), "#update", class: "nav-link", "data-toggle": "tab" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".password"), "#password", class: "nav-link", "data-toggle": "tab" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".feedback"), "#feedback", class: "nav-link", "data-toggle": "tab" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".order"), "#order", class: "nav-link", "data-toggle": "tab" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".share"), "#share", class: "nav-link", "data-toggle": "tab" %>
        </li>
      </ul>
      <br>
      <div class="tab-content">
        <div class="tab-pane active" id="control">
          <%= link_to t(".signout"), signout_path, class: "btn btn-danger btn-lg" %>
          <br><br>
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#change-avatar">
            <i class="fa fa-camera"></i>
          </button>
          <%= render "change_avatar/edit" %>
        </div>
        <div class="tab-pane fade" id="update">
          <%= render "users/edit_profile" %>
        </div>
        <div class="tab-pane fade" id="password">
          <%= render "change_password/edit" %>
        </div>
        <div class="tab-pane fade" id="feedback">
          <%= render @evaluates %>
          <%= will_paginate @evaluates %>
        </div>
        <div class="tab-pane fade" id="order">
          <% if @orders.present? %>
            <table class="table">
              <tr>
                <th>#</th>
                <th><%= t ".name" %></th>
                <th><%= t ".email" %></th>
                <th><%= t ".address" %></th>
                <th><%= t ".phone" %></th>
                <th><%= t ".status" %></th>
              </tr>
              <%= render @orders %>
            </table>
            <%= will_paginate @orders %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="share">
          <% if @suggests.present? %>
            <table class="table">
              <tr>
                <th><%= t ".image" %></th>
                <th><%= t ".product_name" %></th>
                <th><%= t ".description" %></th>
                <th><%= t ".date" %></th>
                <th class="action-in-user"><%= t ".action" %></th>
              </tr>
              <% @suggests.each do |suggest| %>
                <%= render "suggests/your_share", suggest: suggest %>
              <% end %>
            </table>
            <%= will_paginate @suggests %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
