<div class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active bg-1">
      <div class="content-slide">
        <div class="text">
          <i><%= t ".fruit" %></i>
          <br><br>
          <h1><%= t ".natural" %></h1>
          <p><%= t ".discount" %></p>
          <div class="text-center">
            <%= link_to t(".view"), "#", class: "btn btn-lg btn-success" %>
          </div>
        </div>
        <div><%= image_tag "onslide-1.png", class: "img-fluid" %></div>
      </div>
    </div>
    <div class="carousel-item bg-2">
      <div class="content-slide">
        <div class="text">
          <i><%= t ".vegetables" %></i>
          <br><br>
          <h1><%= t ".natural" %></h1>
          <p><%= t ".discount" %></p>
          <div class="text-center">
            <%= link_to t(".view"), "#", class: "btn btn-lg btn-success" %>
          </div>
        </div>
        <div><%= image_tag "onslide-2.png", class: "img-fluid" %></div>
      </div>
    </div>
  </div>
</div>
