<tr class="text-center">
  <td>
    <%= link_to order_item, method: :delete, data: {confirm: t(".confirm")} do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
  <td><%= image_tag order_item.product.image.url, class: "zoom-out-img" %></td>
  <td><%= order_item.product.name %></td>
  <td>
    <%= form_for order_item, url: order_item_path(order_item) do |f| %>
      <div class="input-group">
        <%= f.number_field :quantity, class: "form-control", min: 1, max: 99 %>
        <div class="input-group-append">
          <%= f.button :submit, class: "btn btn-success" do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
  <td><%= number_to_currency order_item.price %></td>
  <td><%= number_to_currency(total_price_for order_item) %></td>
</tr>
