<div class="navbar navbar-expand-sm fixed-top">
  <div class="container">
    <%= link_to image_tag("logo.png", class: "logo"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navtop">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navtop">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t(".home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".product"), stores_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".share"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to carts_path, class: "nav-link" do %>
            <i class="fa fa-shopping-cart"></i>
            <sup class="badge badge-pill badge-info"><%= load_size_cart %></sup>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "", class: "nav-link", "data-toggle": "modal", "data-target": "#search" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to image_tag("vi.png"), Settings.vn.to_h, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to image_tag("en.png"), Settings.en.to_h, class: "nav-link" %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to t(".account"), current_user, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t(".signin"), signin_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".signup"), signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "layouts/search" %>
